UPDATE classlog_teachers
SET password_hash = extensions.crypt('Reset12345', extensions.gen_salt('bf')),
    password = NULL,
    active = TRUE
WHERE username = 'admin';

DELETE FROM classlog_sessions
WHERE teacher_id = (
    SELECT id FROM classlog_teachers WHERE username = 'admin'
);

